.sideBar {
    width: 420px;
    position: fixed;
    right: 0px;
    transition: right 0.5s, 0.5s ease-out;
    background-color: rgba(59, 61, 64, 0.5);

}

.sideBar a {
    color: #fff;

}

.sideBar.hide {
    right: -420px;
}

.sideBar div {
    line-height: 60px;
    font-size: 18px;
    text-align: left;
    padding-left: 30px;
}

.sideBar div:hover {
    background: rgba(54, 59, 93, 0.5);
}

.sideBar div.checked {

}


