index.cssindex.css
:local(.aboutus){
    width: 100%;
}
:local(.wlop){


    height: 100%;

    background-color: #fff;

}
:local(.header){
    margin-bottom: 80px;
}
:local(.red){
    color: #f59294;
}