:local(.item){
    padding: 0 15px;
    background-color: #fff;

}
:local(.title){
    font-size: 18px;
}
:local(.icontent){

}
:local(.icontent) .am-list-item{
    padding-left: 0!important;

}
:local(.icontent) .am-list-line{
    padding-right: 0!important;
}
:local(.number) span{
    color: #aaaaaa;

}


:local(.timeR){
    line-height: 48px;
    font-size: 20px;
    float: right;
}
:local(.way){
    width: 50%;
    float: right;
    text-align: right;
}
:local(.number){
    width: 50%;
    float: left;
    text-align: left;
}
:local(.item) .am-list-item.am-input-item{
    padding-left: 0!important;
    padding-right: 0!important;
}
:local(.item) .am-list-item .am-input-label.am-input-label-5{
    width: 36px;
}
:local(.button){
    margin: 0 16px;
    margin-top: 20px;
}
:local(.tip){
    padding: 0 16px;


    display: block;

    width: 100%;
    margin-top: 10px;
}
:local(.tip)>a{
    color: #ff6060;
    font-weight: bold;
}
:local(.tip)>span{
    color: #ff6060;
    font-weight: bold;
}

:local(.tip1){


}
:local(.tip1)>a{
    color: #ff6060;
    font-weight: bold;
}
:local(.tip1)>span{
    color: #ff6060;
    font-weight: bold;
}