:local(.item){
    padding: 0 15px;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
:local(.title){
    font-size: 18px;
}
:local(.icontent):after,:local(.item):after{
    display: block;
    clear: both;
    content: '';
}
:local(.icontent){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #3b3d40;
    float: left;
}
:local(.time) span{
    color: #aaaaaa;
    line-height: 24px;
    margin-left: 10px;
}

:local(.time){
    line-height: 30px;
    font-size: 20px;
}

:local(.way){
    float: right;
    font-size: 24px;
}
:local(.number){
    line-height: 30px;
    font-size: 20px;
    width: 50%;
    float: left;
    text-align: left;
}