.result-example .icon {
    width: 120px;
    height: 120px;
}
:local(.qcode){

    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}
:local(.qcode1){

    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}
:local(.qcode2){

    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
:local(.qcode3){

    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,1);
    filter: blur(10px);
    color: red;
    font-size: 60px;
    text-align: center;

}
.shtitle{
    color: #3b3d40;
    font-size: 18px;
}
.shmsg{
    color: #aaa;
    font-size: 12px;
}
:local(.wrap){

}
:local(.wrap)>img{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
:local(.rtitle){
    font-size: 18px;
    color: #3b3d40;
    text-align: center;
    display: block;
    margin-top: 20px;
    margin-bottom: 12px;
}
:local(.rcontent){
    font-size: 12px;
    color: #aaaaaa;
    text-align: center;
    display: block;
}
:local(.but){
    height:40px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
}
:local(.but)>span{
    color: #5262ff;
    font-size: 36px;
}
:local(.button){
    margin: 0 auto;
    margin-top: 20px;
    width: 100px;
    height: 36px;
    line-height: 34px;
    text-align: center;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #3B3D40;

}

:local(.tip){
    font-size: 18px;
    color: #3b3d40;
    text-align: center;
    display: block;
    margin-top: 20px;
    margin-bottom: 12px;
    display: block;

}
:local(.tip)>a{
    color: #ff6060;
    font-weight: bold;
}


:local(.tip1)>a{
    color: #ff6060;
    font-weight: bold;
}
:local(.tip1)>span{
    color: #ff6060;
    font-weight: bold;
}


