
:local(.partnerEntry){

    width: 100%;
    background-color: rgb(245, 245, 246);
    min-height: 556px;
}
:local(.wlop){

    width: 1200px;
    margin: 0 auto;
    margin-bottom: 30px;
    height: 100%;
    padding-bottom: 50px;
    background-color: #fff;
}
:local(.parenimg){
    width: 1200px;
    height: 360px;
    background-image: url("./images/partnerentry-bg.png");
}
:local(.parencon){
    width: 1200px;
    height: 150px;
    background-color: #fff;
    padding-top: 40px;
    font-size: 21px;
}
:local(.lbut){
    float: left;
    margin-left: 280px;

}
:local(.rbut){
    float: left;
    margin-left: 200px;

}
:local(.parencon) button{
    width: 220px;
    height: 60px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #5262ff;
    color: #5262ff;
    font-size: 21px;
    outline: none;
    cursor: pointer;
}
:local(.conlist){
    padding: 0 15px;
}
:local(.butt:hover){
    background-color: #5262ff!important;
    color: #fff!important;
}
:local(.butt){
    color: #5262ff!important;
    border-color: #5262ff!important;
}
:local(.toolbar){
    position: fixed;
    right: 0;
    bottom: 50px;
}
