:local(.aboutus){
    width: 100%;
    background-color: rgb(245, 245, 246);
    min-height: 556px;
}
:local(.wlop){

    width: 1200px;
    margin: 0 auto;
    margin-bottom: 30px;
    height: 100%;
    padding: 0 30px;
    padding-top: 48px;
    padding-bottom: 50px;
    background-color: #fff;
}
:local(.header){

    margin-bottom: 80px;
}
:local(.red){
    color: #f59294;
}
:local(.toolbar){
    position: fixed;
    right: 0;
    bottom: 50px;
}