:local(.item){
    padding: 0 15px;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
:local(.title){
    font-size: 18px;
}
:local(.icontent){
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #3b3d40;
}
:local(.time) span{
    color: #aaaaaa;
    line-height: 24px;
}

:local(.time){
    line-height: 48px;
    font-size: 20px;
}


:local(.timeR){
    line-height: 48px;
    font-size: 20px;
    float: right;
}
:local(.way){
    width: 50%;
    float: right;
    text-align: right;
}
:local(.number){
    width: 50%;
    float: left;
    text-align: left;
}
:local(.tip){
    font-size: 18px;
    color: #3b3d40;
    text-align: center;
    display: block;
    margin-top: 20px;
    margin-bottom: 12px;
}
:local(.tip)>a{
    color: #ff6060;
    font-weight: bold;
}


:local(.tip1)>a{
    color: #ff6060;
    font-weight: bold;
}
:local(.tip1)>span{
    color: #ff6060;
    font-weight: bold;
}

