:local(.wrap){


}
:local(.logo){
    margin: 0 auto;
    margin-bottom: 15px;
    padding-top: 30px;
    width: 100px;
    height: 130px;
    background-image: url("./images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position:0 30px;
}
:local(.nav){
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    color: #3b3d40;
    margin-bottom: 15px;
}
:local(.nav)>div{
    width: 50%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
}
:local(.nav) span{
    line-height: 39px;
    width: 80px;
    border-bottom: 1px solid;
    border-color: #dfdce4;
}
:local(#active) {
    line-height: 39px;
    width: 80px;
    border-bottom: 1px solid;
    border-color: #5262ff;
}
:local(.content){
    padding: 0 15px;
}
:local(.selphone){
    overflow: hidden;
    height: 44px;
    width: 100%;
    border: 1px solid #dfdce4;
    border-radius: 5px ;
    position: relative;
    margin-bottom: 10px;
    background-color: #fff;
}
:local(.line){
    line-height: 44px;
    color: #dfdce4;

}
:local(.qh){
    position: absolute;
    left: -12px;
    z-index: 5;
    width: 150px;
}
:local(.phone){
    position: absolute;
    /*left: 80px;*/
    top: -1px;
    z-index: 7;
}
:local(.tu){
    width: 100%;
    position: absolute;
    top:-1px;
}
:local(.tuxing){
    width: 100px;
    height: 43px;
    position: absolute;
    right: 0;
    top: 0;
}
:local(.button){
    margin-top: 20px;
}
:local(.line){
    width: 1px;
    height: 20px;
    background-color: #dfdce4;
    position: absolute;
    top: 12px;
    left: 82px;
    z-index: 20;

}
:local(.lline){
    width: 1px;
    height: 20px;
    background-color: #dfdce4;
    position: absolute;
    top: 12px;
    right: 100px;
    z-index: 20;

}
:local(.fp){
    float: right;

}
:local(.fp)>a{
    font-size: 14px;
    line-height: 30px;
    color: #5262ff;
}

